<div>&nbsp;</div>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    &nbsp;
    <mat-card-title>
      <h3>{{ tweet.author }}</h3>
    </mat-card-title>
  </mat-card-header>
  &nbsp;
  <mat-card-content>
    <p>{{ tweet.text }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>
      <mat-icon>favorite</mat-icon>
      LIKE
    </button>
    <button mat-button>
      <mat-icon>repeat</mat-icon>
      SHARE
    </button>
  </mat-card-actions>
</mat-card>
