<div>&nbsp;</div>
<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar [src]="tweet.user.profileImageUrl" [alt]="tweet.user.screenName">
    &nbsp;
    <mat-card-title>
      <h3>{{ tweet.user.name }}</h3>
      <h5>@{{ tweet.user.screenName }}</h5>
    </mat-card-title>
  </mat-card-header>
  &nbsp;
  <mat-card-content>
    <p>{{ tweet.text }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>
      <mat-icon>favorite</mat-icon>
      LIKE
    </button>
    <button mat-button>
      <mat-icon>repeat</mat-icon>
      SHARE
    </button>
  </mat-card-actions>
</mat-card>
