<div class="row">
  <div class="col-1">
    <button mat-mini-fab [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="loadTweets()">
        <mat-icon>message</mat-icon>
        <span>All tweets</span>
      </button>
      <button mat-menu-item (click)="loadMorningTweets()">
        <mat-icon>alarm_on</mat-icon>
        <span>Breakfast tweets</span>
      </button>
    </mat-menu>
  </div>
  <div class="col-1">
    <button mat-mini-fab>
      <mat-icon (click)="loadTweets()">refresh</mat-icon>
    </button>
  </div>
  <div class="col">
    <button mat-button *ngFor="let trend of trends">
      <small>{{ trend.name }}</small>
    </button>
  </div>
</div>
<div class="row" *ngIf="showSpinner" style="margin-top: 10%;">
  <div class="col-5"></div>
  <div class="col" style="margin: auto;">
    <mat-spinner></mat-spinner>
  </div>
  <div class="col-5"></div>
</div>
<div class="row" *ngFor="let tweet of tweets">
  <app-tweet [tweet]="tweet" class="col"></app-tweet>
</div>
<div>&nbsp;</div>
